.main-box-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0 24px;
    .main-box-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .welcome-span {
        font-size: 24px;
        font-weight: 500;
        color: #1b222f;
    }
    .welcome-hr {
        border-bottom: 1px solid #e3e3e4;
        margin-top: 10px;
    }
    .welcome-btn {
        padding-right: 24px;
    }
}

.ant-tabs-tab {
font-size: 24px !important;
}

/* 如果需要修改选中标签的样式 */
.ant-tabs-tab-active {
font-size: 24px !important;
}