.password-box {
    margin: 32px 0 0 24px;
}
.bottom-span-div {
    margin: -10px 0 16px 24px;
    font-size: 12px;
    font-weight: 400;
    .bottom-span-require {
      color: #f00;
    }
    .bottom-span-content {
      color: #a8abb0;
    }
  }